<%- include('partials/header.ejs') %> 


<div class="container my-auto">
    <% if(locals.userSearch && Object.keys(locals.userSearch.chosenRecipe).length>0) { %>
      <!-- Recipe section -->
      <section class="mt-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6 card bg-body-tertiary">
              <div class="d-flex flex-column">
                <div>
                  <h2 class="my-4"><%= userSearch.chosenRecipe.title %></h2>
                </div>
                <div class="align-self-center">
                  <img class="card-img img-recipe" src=<%= userSearch.chosenRecipe.image %> alt="..." onerror="this.src='https://placehold.co/312x231'">
                </div>
                <div class="container mt-4">
                  <div class="row">
                    <div class="col-12 d-flex flex-row">
                      <div class="d-flex flex-column align-items-center mx-auto">
                        <img class="" src="/images/fork-and-spoon-meal-svgrepo-com.svg" width="30px" alt="">
                        <h5 class="my-auto">Servings: <%= userSearch.chosenRecipe.servings %></h5>
                      </div>
                      <div class="vr"></div>
                      <div class="d-flex flex-column align-items-center mx-auto">
                        <img class="" src="/images/alarm-clock-svgrepo-com.svg" width="30px" alt="">
                        <h5 class="my-auto"><%= userSearch.chosenRecipe.readyInMinutes %> min</h5>
                      </div>
                      <div class="vr"></div>
                      <div class="d-flex flex-column align-items-center mx-auto">
                        <img class="" src="/images/rating-svgrepo-com.svg" width="30px" alt="">
                        <div class="d-flex flex-row">
                          <h5 class="my-auto">Score: <%= Math.floor(userSearch.chosenRecipe.spoonacularScore) %></h5>
                          <img class="" src="/images/question-circle-svgrepo-com.svg" width="20px" alt="" data-bs-toggle="tooltip" data-bs-html="true" title="<p>The <b>spoonacular score is determined by comparing the recipe with all the other recipes on Spoonacular.com</b>. A score of 100 means the author has achieved total recipe domination. Score 0 and someone has probably managed to upload one of the worst recipes on the website.</p><p>Spoonacular's <b>top-secret formula</b> takes into consideration price (the cheaper the better!), difficulty (the easier the better!), popularity (# of Facebook likes, Pinterest pins, spoonacular saves...), and the health score.</p>">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <h3 class="my-3">Ingredients:</h3>
                  </div>
                  <% userSearch.chosenRecipe.extendedIngredients.forEach(ingredient => { %>
                    <div class="row">
                      <div class=""><%= Math.floor(ingredient.measures.metric.amount*100)/100  %> <%= ingredient.measures.metric.unitShort %> <b><%= ingredient.originalName %></b></div>
                    </div>
                    <div class="row">
                      <hr class="hr" />
                    </div>
                  <% }); %>
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
              <h3 class="">Summary:</h3>
              <p><%- userSearch.chosenRecipe.summary %> </p>
              <hr class="hr" />
              <h3 class="">Instructions:</h3>
              <ol>
                <% userSearch.chosenRecipe.analyzedInstructions[0].steps.forEach(step => { %>
                  <li class="mb-4"><%= step.step %></li>
                <% }); %>
              </ol>
            </div>
          </div>
        </div>
        <hr class="hr my-5" />
      </section>
    <% } %>

    <% if(locals.userSearch) {%>
      <!-- Search -->
      <section <% if(locals.scrollToResults) {%> id="goTosearch" <%}%>>
        <h1 class="text-center">What are you craving?</h1>
        <!-- Set of dropdowns for filtering recipes. -->
          <form method="POST" action="/complexSearch">
            <div class="d-flex justify-content-center column-gap-1 column-gap-md-2 pe-0">
              <div class="">
                <select name="selectedCousine" class="form-select" required>
                    <option value="" disabled selected>Cousine:</option>
                    <% cousines.forEach(cousine => {%>
                        <option <%if(locals.userSearch.cousine == cousine){%> selected <%}%> ><%=cousine%></option>
                        
                    <% }); %>
                </select>
              </div>
              <div class="">
                <select name="selectedProtein" class="form-select" required>
                    <option value="" disabled selected>Protein:</option>
                    <% proteins.forEach(protein => {%>
                        <option <%if(locals.userSearch.protein == protein){%> selected <%}%> ><%=protein%></option>
                    <% }); %>
                </select>
              </div>
              <div class="">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
        </form>
      </section>
    <% } %>

    <% if(locals.userSearch && locals.userSearch.searchResults.length>0) { %>
      <!-- Search Results. -->
      <section class="pt-3">
        <div class="container">
          <div class="row row-cols-3 justify-content-center g-4">
            <% userSearch.searchResults.forEach(result => { %>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="search-result-card card text-bg-dark">
                  <img src=<%= result.image %> class="card-img" alt="..." onerror="this.src='https://placehold.co/312x231'">
                  <div class="card-img-overlay d-flex flex-column justify-content-around align-items-start">
                    <h5 class="card-title"><%= result.title %> </h5>
                    <form method="post">
                      <button type="submit" class="btn btn-success" formaction="/viewRecipe/<%=result.id%>">See recipe</button>
                    </form>
                  </div>
                </div>
              </div>
            <% }); %>
          </div>
        </div>
      </section>
    <% } %>
    <% if(locals.error) { %>
        <h2 class="text-center my-4"><%= error %> </h2>
    <% } %>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function (event) {
      /* Shows tooltips when hovering over them */
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

      /* Smooth scroll to the search section if the id "goToSearch" is found. */
      const searchResultsSection = document.getElementById("goTosearch");
      if(searchResultsSection){
        console.log("Searched");
        searchResultsSection.scrollIntoView({behavior: "smooth", block: "start"});
      }
    });


</script>
        
<%- include('partials/footer.ejs') %> 